<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/stihlonlinedb</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <mapping resource="resources/Bildablage.hbm.xml"/>
  <mapping class="stihlonlinedb.entities.Bildablage" resource="resources/Bestellung.hbm.xml"/>
  <mapping resource="resources/Einsatzzweck.hbm.xml"/>
  <mapping resource="resources/Fuehrungsschienen.hbm.xml"/>
  <mapping resource="resources/Ketten.hbm.xml"/>
  <mapping resource="resources/Kunde.hbm.xml"/>
  <mapping resource="resources/Rechnung.hbm.xml"/>
  <mapping class="stihlonlinedb.entities.Saege" resource="resources/Saege.hbm.xml"/>
  <mapping class="stihlonlinedb.entities.Zubehoer" resource="resources/Zubehoer.hbm.xml"/>
  <mapping resource="resources/Produkte.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
